* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

#main {
  width: 100%;
  height: 100vh;
  background: orangered;
}

/*Navegação*/
.nav-container a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.nav-container img {
  width: 25px;
  height: 25px;
  top: 10%;
  right: 0;
}

/*Hero*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(150deg, #ffa600, #ff5e00);
}

.hero h1 {
  color: #fff;
  font-size: 48px;
}

/*Imagens absolutas*/
#fanta,
#laranja-cortada,
#laranja-cortada-2,
#folha2 {
  position: absolute;
  top: 10%;
}

#fanta {
  width: 30%;
  left: 35%;
  z-index: 2;
  margin-top: 25px;
}

#laranja-cortada {
  width: 30%;
  left: 40%;
  z-index: 3;
}

#laranja-cortada-2 {
  width: 30%;
  left: 50%;
  z-index: 3;
}

#folha {
  position: relative;
  top: 10%;
  left: 0;
  z-index: 4;
  transform: rotate(60deg);
}

#folha2 {
  width: 10%;
  right: 0;
}
